
.chef {
    background-image: url(./images/chef.gif);
}

.backburger {
    background-image: url(./images/backburger.gif);
}

.pizza {
    background-image: url(./images/pizza.gif);
}

.ramenback {
    background-image: url(./images/ramen.gif);
}

.maintitle {
    font-family: "Inter", "Helvetica Neue", "Arial", sans-serif;
    background-color: white;
    display: block;
    text-align: center;
}

.title {
    font-size: 35px;
    background-color: white;
    text-align: center;
    display: block;
}

.burger {
    font-family: 'Courier New', Courier, monospace;  
}

.pizzatitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ramen{
    font-family: 'Times New Roman', 'Arial', sans-serif;
}

.center {
    width: 400px;
    margin: auto;
}

.imgcenter {
    width: auto;
    margin: 100px auto;
    display: block;
}

p {
    background-color: white;
}

li {
    background-color: yellow;
}

h2 {
    background-color: white;
}

